# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

**Objectives:**
* List popular languages for Data Science
* commonly used libraries used by Data Scientists
* Data Science Tools

Some of the popular languages that Data Scientists use are:
1. Python
2. R
3. SQL
4. Java
5. Julia
6. Scala

Some of the commonly used libraries used by Data Scientists include:
1. Numpy
2. Pandas
3. Matplotlib
4. Seaborn
5. Scikit-Learn

| Data Science Tools |
|--------------------|
| Jupyter Notebook |
| Rstudio |
| Vs code |

### Below are a few examples of evaluating arithmetic expressions in Python

In [2]:
# This a simple arithmetic expression to mutiply then add integers
(3*4)+5

17

In [4]:
# This will convert 200 minutes to hours by diving by 60
h=200//60
m=200%60
print("Hours=",h)
print("Minutes=",m)

Hours= 3
Minutes= 20

## Author
Sushanth R